<!DOCTYPE html>
{% extends "cpanel/AdminBase.html" %}
{% load static %}

<body>

{% block mainblock %}

<div class="col-md-12">
        <div class="card">

                <div class="card-header">
                    <div class="d-flex align-items-center">
                       <h4 class="card-title">Users Detail</h4>
                    </div>
                </div>
            <div class="card-body">

                                    <div class="table-responsive">
										<table id="add-row" class="display table table-striped table-hover" >
											<thead>
												<tr>
                                                    <th>Date</th>
													<th>First Name</th>
													<th>Address</th>

                                                    <th>Phone No</th>
                                                    <th>EMail Address</th>
                                                    <th>Course</th>
													<th style="width: 10%">Action</th>
												</tr>
											</thead>
                                            <tbody>
                                                {% for ld in lds %}
												<tr>
                                                    <td>{{ ld.date_reg }}</td>
													<td class="text-center">{{ ld.Fname_reg }}</td>
													<td class="text-center">{{ ld.Address_reg }}</td>

													<td class="text-center">{{ ld.Phone_reg }}</td>
                                                    <td class="text-center">{{ ld.Email_reg }}</td>
                                                    <td class="text-center">{{ ld.Course_reg }}</td>
                                                    <td>
                                                        <ul class="list-inline m-0">
													        <li class="list-inline-item">
														        <div class="form-button-action">
															        <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task">
																        <i class="fa fa-edit"></i>
															        </button>
                                                                </div>
                                                            </li>
                                                        </ul>
														</div>
													</td>
												</tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
            </div>
        </div>
</div>














{% endblock mainblock %}

</body>
</html>
