{% extends "cpanel/AdminBase.html" %}
{% load widget_tweaks %}
{% load static %}
{% block mainblock %}
<html>
<head>
    <title>Edit Services</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>



<div class="col-md-12">
		<div class="card">
                    <div class="card-header">
                        <div class="d-flex align-items-center">
                            <h5 class="card-title"> <i class="fas fa-edit"></i>Update Site Home Page Setting</h5>
                        </div>
                    </div>
            <div class="card-body">

                                <div class="row">
                                    <div class="col-md-1 col-xs-1 col-sm-1"></div>
                                    <div class="col-md-10 col-xs-10 col-sm-10">
                                        <form method="post" novalidate>
                                            {% csrf_token %}
                                            {% for hidden_field in form.hidden_fields %}
                                            {{ hidden_field }}
                                            {% endfor %}
                                            {% for field in form.visible_fields %}
                                            <div class="form-group">
                                                {{ field.label_tag }}
                                                {% render_field field class="form-control" %}
                                                {% if field.help_text %}
                                                <small class="form-text text-muted">{{ field.help_text }}</small>
                                                {% endif %}
                                            </div>
                                            {% endfor %}
                                            <button type="submit" class="btn btn-primary">submit</button>
                                        </form>
                                        <br>
                                    </div>
                                    <div class="col-md-1 col-xs-1 col-sm-1"></div>
                                </div>
            </div>
        </div>
</div>
</body>
</html>
{% endblock %}