<!DOCTYPE html>
{% extends "base1.html" %}
{% load static %}
{% block content %}
<body>
<div class="jombotron"></div>

        <div class="container">

                    <header>
                        <img src="{% static 'assets1/img/banner.jpg' %}" style="width: 100%" alt="">
                    </header>
                            <div class="card-deck">
                                        <div class="card border-primary mb-3" style="max-width: 17rem;">
                                          <div class="card-header">Global Multi School Management System</div>
                                          <div class="card-body text-primary">
                                            <h5 class="card-title">Dashboard</h5>
                                            <p class="card-text">Advanced dashboard with multiple excellent statistics and widget!</p>
                                          </div>
                                        </div>

                                        <div class="card border-primary mb-3" style="max-width: 17rem;">
                                          <div class="card-header">Global Multi School Management System</div>
                                          <div class="card-body text-primary">
                                            <h5 class="card-title">School Setting</h5>
                                            <p class="card-text">Site Admin can setting school basic information from here</p>
                                          </div>
                                        </div>

                                        <div class="card border-primary mb-3" style="max-width: 17rem;">
                                          <div class="card-header">Global Multi School Management System</div>
                                          <div class="card-body text-primary">
                                            <h5 class="card-title">Role & Permission</h5>
                                            <p class="card-text">Unlimited User Role create option and Permission assign that user roles</p>
                                          </div>
                                        </div>
                                        <div class="card border-primary mb-3" style="max-width: 17rem;">
                                          <div class="card-header">Global Multi School Management System</div>
                                          <div class="card-body text-primary">
                                            <h5 class="card-title">User Management</h5>
                                            <p class="card-text">System Administrator can Manage all types of users like activate, inactivate</p>
                                          </div>
                                        </div>
                            </div>
                            <div class="card-deck">

                                        <div class="card border-primary mb-3" style="max-width: 17rem;">
                                          <div class="card-header">Global Multi School Management System</div>
                                          <div class="card-body text-primary">
                                            <h5 class="card-title">Backup Database</h5>
                                            <p class="card-text">System Administrator can take system database backup</p>
                                          </div>
                                        </div>

                                        <div class="card border-primary mb-3" style="max-width: 17rem;">
                                          <div class="card-header">Global Multi School Management System</div>
                                          <div class="card-body text-primary">
                                            <h5 class="card-title">Human Resource</h5>
                                            <p class="card-text">Manage Institution Employees and Employees designation using this module</p>
                                          </div>
                                        </div>

                                        <div class="card border-primary mb-3" style="max-width: 17rem;">
                                          <div class="card-header">Global Multi School Management System</div>
                                          <div class="card-body text-primary">
                                            <h5 class="card-title">Classes</h5>
                                            <p class="card-text">Manage all classes information</p>
                                          </div>
                                        </div>
                                        <div class="card border-primary mb-3" style="max-width: 17rem;">
                                          <div class="card-header">Global Multi School Management System</div>
                                          <div class="card-body text-primary">
                                            <h5 class="card-title">Sections</h5>
                                            <p class="card-text">Manage all sections of classes information</p>
                                          </div>
                                        </div>
                            </div>

                            <div class="card-deck">

                                        <div class="card border-primary mb-3" style="max-width: 17rem;">
                                          <div class="card-header">Global Multi School Management System</div>
                                          <div class="card-body text-primary">
                                            <h5 class="card-title">Examination System</h5>
                                            <p class="card-text">Manage all Examination  of classes</p>
                                          </div>
                                        </div>

                                        <div class="card border-primary mb-3" style="max-width: 17rem;">
                                          <div class="card-header">Global Multi School Management System</div>
                                          <div class="card-body text-primary">
                                            <h5 class="card-title">Class Time Table</h5>
                                            <p class="card-text">Manage class Time-Table of all classes and sections.</p>
                                          </div>
                                        </div>

                                        <div class="card border-primary mb-3" style="max-width: 17rem;">
                                          <div class="card-header">Global Multi School Management System</div>
                                          <div class="card-body text-primary">
                                            <h5 class="card-title">Students</h5>
                                            <p class="card-text">Manage students informations like admit new students, Admit Bulk Student.</p>
                                          </div>
                                        </div>
                                        <div class="card border-primary mb-3" style="max-width: 17rem;">
                                          <div class="card-header">Global Multi School Management System</div>
                                          <div class="card-body text-primary">
                                            <h5 class="card-title">Attendance</h5>
                                            <p class="card-text">Manage students, employees and teachers  attendance informations using this module.</p>
                                          </div>
                                        </div>
                            </div>
        </div>
</body>
{% endblock content %}
</html>