<!DOCTYPE html>
{% extends "base1.html" %}
{% load static %}
{% block content %}
<body>
 <div class="jumbotron"> </div>
        <div class="container">


                            <div class="jumbotron">
                              <h1 class="display-6">Global Multi School Management System</h1>
                              <div class="alert alert-warning" role="alert">
                                  <p class="lead">Global Multi School Management System</p>

                                    <p>Global Multi School management system (GMSMS) Express is basically used for
                                  manage educational institution like school, college, universities etc.
                                  Specially for manage multiple school from one system/server. Please read
                                  this documentation carefully before starting...
                                    </p>
                              </div>
                                <hr class="my-4">
                                 <img src="{% static 'assets1/img/banner.jpg' %}" style="width: 100%" alt="">
                                <hr class="my-4">
                            </div>

            <ul class="list-group list-group-flush">
                <li class="list-group-item"> Very Organized & Developer friendly code.</li>
                <li class="list-group-item"> Fully ACL (Access controll list) Based.</li>
                <li class="list-group-item"> Module base Featured.</li>
                <li class="list-group-item"> RTL (Right to Left) Supported.</li>
                <li class="list-group-item"> Unlimited language support.</li>
                <li class="list-group-item"> School configuration using School settings under Admin and Super Admin.
                </li>
                <li class="list-group-item"> Payment methods/options configuration settings under Admin and Super
                    Admin.
                </li>
                <li class="list-group-item"> SMS gateway configuration settings under Admin and Super Admin.</li>
                <li class="list-group-item"> Super Admin can create/edit/delete School.</li>
                <li class="list-group-item"> Authorized user can change color theme.</li>
                <li class="list-group-item"> Authorized user can create/edit/delete and configure language.</li>
                <li class="list-group-item"> Authorized user can create/edit/delete academic year.</li>
                <li class="list-group-item"> Authorized user can create/edit/delete user role.</li>
                <li class="list-group-item"> Authorized user can update/setting user role permission.</li>
                <li class="list-group-item"> Authorized user can update/manage other users.</li>
                <li class="list-group-item"> Authorized user can update/manage super admin users.</li>
                <li class="list-group-item"> Authorized user can reset users password.</li>
                <li class="list-group-item"> Authorized user can create/edit/delete email template.</li>
                <li class="list-group-item"> Authorized user can create/edit/delete sms template.</li>
                <li class="list-group-item"> Authorized user can delete/view users activity logs.</li>
                <li class="list-group-item"> Authorized user can publish/unpublish guardian feedback.</li>
                <li class="list-group-item"> Authorized user can take system database backup.</li>
                <li class="list-group-item"> Authorized user can create/edit/delete employee designation.</li>
                <li class="list-group-item"> Authorized user can create/edit/delete/view employee information.</li>
                <li class="list-group-item"> Authorized user can create/edit/delete/view teacher information.</li>
                <li class="list-group-item"> Authorized user can create/edit/delete/view class information.</li>
                <li class="list-group-item"> Authorized user can create/edit/delete/view section information.</li>
                <li class="list-group-item"> Authorized user can create/edit/delete/view subject information.</li>
                <li class="list-group-item"> Authorized user can create/edit/delete/view syllabus information.</li>
                <li class="list-group-item"> Authorized user can create/edit/delete/view class routine information.</li>
                <li class="list-group-item"> Authorized user can create/edit/delete/view guardian information.</li>
                <li class="list-group-item"> Authorized user can create/edit/delete/view student information.</li>
                <li class="list-group-item"> Authorized user can create/edit/delete/view student activity.</li>
                <li class="list-group-item"> Authorized user can manage student daily attendance.</li>
                <li class="list-group-item"> Authorized user can manage teacher daily attendance.</li>
                <li class="list-group-item"> Authorized user can manage employee daily attendance.</li>
                <li class="list-group-item"> Authorized user can manage attendance email.</li>
                <li class="list-group-item"> Authorized user can manage attendance sms.</li>
                <li class="list-group-item"> Authorized teacher can create/edit/delete/view assignment for students.
                </li>
                <li class="list-group-item"> Authorized user can create/edit/delete/view exam grade information.</li>
                <li class="list-group-item"> Authorized user can create/edit/delete/view exam term information.</li>
                <li class="list-group-item"> Authorized user can create/edit/delete/view exam schedule information.</li>
                <li class="list-group-item"> Authorized user can create/edit/delete/view exam suggestion for student.
                </li>
                <li class="list-group-item"> Authorized user can manage student exam attendance.</li>
                <li class="list-group-item"> Authorized user can manage exam mark.</li>
                <li class="list-group-item"> Authorized user can manage exam term result.</li>
                <li class="list-group-item"> Authorized user can manage exam final result.</li>
                <li class="list-group-item"> Authorized user can manage student merit list.</li>
                <li class="list-group-item"> Authorized user can manage student mark sheet.</li>
                <li class="list-group-item"> Authorized user can manage student result card.</li>
                <li class="list-group-item"> Authorized user can send exam mark via SMS.</li>
                <li class="list-group-item"> Authorized user can send exam mark via Email.</li>
                <li class="list-group-item"> Authorized user can send exam result via SMS.</li>
                <li class="list-group-item"> Authorized user can send exam result via Email.</li>
                <li class="list-group-item"> Authorized user promote student one class to another class.</li>
                <li class="list-group-item"> Authorized user can create/edit/delete/view Certificate Type.</li>
                <li class="list-group-item"> Authorized user can generate Certificate.</li>
                <li class="list-group-item"> Authorized user can create/edit/delete/view library book.</li>
                <li class="list-group-item"> Authorized user can create/delete/view library member.</li>
                <li class="list-group-item"> Authorized user can manage issue & return library book.</li>
                <li class="list-group-item"> Authorized user can create/edit/delete/view vehicle of Transport.</li>
                <li class="list-group-item"> Authorized user can create/edit/delete/view route of Transport.</li>
                <li class="list-group-item"> Authorized user can manage transport member.</li>
                <li class="list-group-item"> Authorized user can create/edit/delete/view hostel.</li>
                <li class="list-group-item"> Authorized user can create/edit/delete/view hostel room.</li>
                <li class="list-group-item"> Authorized user can manage hostel member.</li>
                <li class="list-group-item"> Authorized user can manage general sms.</li>
                <li class="list-group-item"> Authorized user can manage general email.</li>
                <li class="list-group-item"> Authorized user can create/edit/delete/view notice.</li>
                <li class="list-group-item"> Authorized user can create/edit/delete/view news.</li>
                <li class="list-group-item"> Authorized user can create/edit/delete/view holiday.</li>
                <li class="list-group-item"> Authorized user can create/edit/delete/view event.</li>
                <li class="list-group-item"> Authorized user can create/edit/delete/view visitor information.</li>
                <li class="list-group-item"> Authorized user can create/edit/delete/view Salary Grade.</li>
                <li class="list-group-item"> Authorized user can process/edit/delete/view Salary Payment.</li>
                <li class="list-group-item"> Authorized user can view Salary History.</li>
                <li class="list-group-item"> Authorized user can create/edit/delete student discount.</li>
                <li class="list-group-item"> Authorized user can create/edit/delete student fee type.</li>
                <li class="list-group-item"> Authorized user can create/edit/delete income head information.</li>
                <li class="list-group-item"> Authorized user can create/edit/delete/view income information.</li>
                <li class="list-group-item"> Authorized user can create/edit/delete expenditure head information.</li>
                <li class="list-group-item"> Authorized user can create/edit/delete/view expenditure information.</li>
                <li class="list-group-item"> Authorized user can create/delete/view single invoice information.</li>
                <li class="list-group-item"> Authorized user can create/delete/view bulk invoice information.</li>
                <li class="list-group-item"> Authorized user can view multi type reports information.</li>
                <li class="list-group-item"> Authorized user can create/edit/delete/view Media gallery.</li>
                <li class="list-group-item"> Authorized user can create/edit/delete/view Media gallery image.</li>
                <li class="list-group-item"> Authorized user can create/edit/delete/view frontend page.</li>
                <li class="list-group-item"> Authorized user can create/edit/delete/view frontend slider.</li>
                <li class="list-group-item"> Authorized user can create/edit/delete/view frontend about information.
                </li>
                <li class="list-group-item"> User can view/update self profile information.</li>
                <li class="list-group-item"> Guardian can view/payment for her/his child.</li>
            </ul>
       </div>
</body>
{% endblock content %}
</html>