<html>
{% extends 'base1.html' %}
{% load static %}
{% block content %}
<body>

<!-- About Text -->
    <div class="jumbotron">
    </div>

    <div class="container">
                <section>
                             <center><h3>Courses</h3></center>
                                <p class="mbr-text align-center pb-3 mbr-fonts-style display-5">
                                     Distance Education “is a process to create and provide access to learning when the
                                    source of information and the learners are separated by time and distance, or both.”
                                    In other words, distance learning is the process of creating an educational experience
                                    of equal qualitative value for the learner to best suit their needs outside the classroom.
                                </p>
                </section>
                    <!-- Course Detail -->
                <section class="features4 cid-rbmdr8RGdl" id="features3-3">
                            <div class="card-deck">
                                 {% for book in cr %}
                                    <div class="card" style="width: 15rem;">
                                        <img class="card-img-top" src="{{ book.CourseImage.url }}">
                                         <div class="card-body">
                                             <div class="card-title">  {{ book.CourseName }}</div>
                                             <p class="card-text">  Eligibility : {{book.Eligibility}} </p>
                                             <div class="card-footer bg-transparent border-dark"> </div>
                                             <a href="{% url 'register'  %}" class="btn btn-success" id = '{{book.id}}'>Enroll</a>
                                         </div>
                                    </div>
                                 {% endfor %}
                            </div>
                </section>

    </div>
</body>
 {% endblock %}
</html>