<!DOCTYPE html>
{% load static %}
<head>
    {% for ss in site_sett %}
    <title>{{ ss.Firm }}</title>
    {% endfor %}

    <!-- Favicons -->
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}"/>
    <link rel="apple-touch-icon" type="image/png" href="{% static 'img/apple-touch-icon.png' %}"/>


    <link rel="stylesheet" type="text/css" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/bootstrap/css/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/bootstrap/css/bootstrap-reboot.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/socicon/css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/dropdown/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/theme/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/mobirise/css/mbr-additional.css' %}">

</head>
<body>
  <section class="menu cid-rbmbAelA8q" nonce="menu" id="menu1-0">
    <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
        <div class="navbar-brand">
            <span class="navbar-caption-wrap"><a class="navbar-caption text-black display-3" href="{% url 'home' %}">
                {% for ss in site_sett %}
                {{ ss.Firm }}
                {% endfor %}
                </a>
            </span>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
                <li class="nav-item">
                    <a class="nav-link link text-white display-4" href="{% url 'register' %}">Register </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link text-white display-4" href="{% url 'about' %}">About Us</a>
                </li>
                <li class="nav-item dropdown">
			        <a class="nav-link link text-white display-4" href="#" data-toggle="dropdown">  Distance  </a>
		                <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="{% url 'distance_edu'%}"> Distance Education </a></li>
                          <li><a class="dropdown-item" href="{% url 'course'%}"> Programs</a></li>
                          <li><a class="dropdown-item" href="#"> Projects </a></li>
                        </ul>
                </li>
                 <li class="nav-item">
                    <a class="nav-link link text-white display-4" href="{% url 'cpanel'%}">Login</a>
                </li>

            </ul>
      </div>
    </nav>
</section>
<section class="header6 cid-rbmbBFs5NT" id="header6-1">
    <div class="mbr-overlay" style="opacity: 0.4;">
    </div>
</section>
            {% block content %}
          <!-- Content Goes here -->
            {% endblock content %}
<section class="cid-rbmlLMGzzh" id="footer4-f">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text1 col-lg-5">
                <p class="mbr-text mbr-bold links mbr-fonts-style align-left display-4">
                 <h4>E-Mail : {{ cont_us.Email }}</h4> <br>
            	 <h4>Phone No : {{ cont_us.Phone }} </h4>

            </div>
            <div class="col-lg-4 col-md-12">
                <div class="social-list ">
                    <div class="soc-item">
                        <a href="#" target="_blank">
                            <span class="mbr-iconfont mbr-iconfont-social socicon-twitter socicon" style="color: rgb(255, 255, 255); fill: rgb(255, 255, 255);"></span>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://www.facebook.com/talentcoachingmtr/" target="_blank">
                            <span class="mbr-iconfont mbr-iconfont-social socicon-facebook socicon" style="color: rgb(255, 255, 255); fill: rgb(255, 255, 255);"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
  <script src="{% static 'assets/web/assets/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'assets/popper/popper.min.js' %}"></script>
  <script src="{% static 'assets/tether/tether.min.js' %}"></script>
  <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'assets/smoothscroll/smooth-scroll.js' %}"></script>
  <script src="{% static 'assets/dropdown/js/script.min.js' %}"></script>
  <script src="{% static 'assets/touch-swipe/jquery.touch-swipe.min.js' %}"></script>
  <script src="{% static 'assets/theme/js/script.js' %}"></script>
  <script src="{% static 'assets/formoid/formoid.min.js' %}"></script>
  </body>
</html>