<HTML>
{% extends 'base.html' %}
{% block content %}
<BODY>
<br><br><br><br>
<div class="jumbotron" ></div>
<div class="container">
  <div class="row">
    <div class="col-md-12 card mb-4  mt-3 left  top">
      <div class="card-body">
        <h1>{% block title %} {{ post.title }} {% endblock title %}</h1>
        <p class=" text-muted">{{ post.author }} | {{ post.created_on }}</p>
        <p class="card-text ">{{ post.content | safe }}</p>
        <img src="{{ post.image.url }}" class="img-responsive" style="width: 80%; float: left; margin-right: 10px;" />
      </div>
    </div>
  </div>
</div>
{% endblock content %}
</BODY>
</HTML>