<html>
{% extends 'base1.html' %}
{% load static %}
{% block content %}
<body>
<div class="jumbotron"> </div>
<!-- Default form register -->
<br>

<div class="container register">
                <div class="row">
                    <div class="col-md-9 register-right">
                                  <h5 class="register-heading">Apply as a Applicants of Distance Learning Program</h5> <br>
                                <div class="row register-form">
                                    <div class="col-md-6">
                                        <form  method="post" enctype="multipart/form-data">
					                    {% csrf_token %}
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="Fname" name="Fname" placeholder="First Name *" value="" required/>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="Lname" name="Lname" placeholder="Last Name *" value="" required/>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="Address" name="Address"placeholder="Address *" value="" required/>
                                        </div>
                                        <div class="form-group">
                                            <input type="number" class="form-control" id="Adhar" name="Adhar" placeholder="Adhar Card No" value="" required/>
                                        </div>
                                        <div class="form-group">
                                            <div class="maxl">
                                                <label class="radio inline">
                                                    <input type="radio" name="gender" value="male" checked>
                                                    <span> Male </span>
                                                </label>
                                                <label class="radio inline">
                                                    <input type="radio" name="gender" value="female">
                                                    <span>Female </span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="email" class="form-control" id="Email" name="Email" placeholder="Your Email *" value="" required/>
                                        </div>
                                        <div class="form-group">
                                            <input type="number"  class="form-control" minlength="10" maxlength="10"  id="Phone" name='Phone' placeholder="Your Phone *" value="" required/>

                                        </div>

                                        <div class="form-group">
                                            <select class="custom-select custom-select-sm"  id="Course" name="Course" required>
                                                <option class="hidden"  disabled selected>Please select your Course </option>
                                                <option>MBA</option>
                                                <option>MCA</option>
                                                <option>MA</option>
                                                <option>BBA</option>
                                                <option>BCA</option>
                                                <option>BA</option>
                                                <option>Diploma</option>
                                                <option>Others</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <select class="custom-select custom-select-sm" id="Uni" name="Uni" required>
                                                <option class="hidden"  selected disabled>Please select University</option>
                                                <option>Subharti University Meerut</option>
                                                <option>IEC University Himachal Pradesh</option>
                                                <option>Jaipur National University Rajasthan</option>
                                                <option>Others</option>

                                            </select>
                                        </div>
                                        <input type="submit" class="btnRegister"  value="Register"/>
                                    </div>

                            </div>

                    </div>
                </div>

</div>



</body>
{% endblock content %}
</html>