{% load static %}
{% block sidebar %}
<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }

</style>
<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
    <h5 class="card-header">Our Mission:</h5>
    <div class="card-body">
        <p class="card-text">
            {% for ss in site_sett %}
            {{ ss.main_slider_mission }}
        </p>
        <img src="{% static 'assets1/img/slider_img.jpg' %}" alt="My image">
        {% endfor %}
        <a href="#"
           class="btn btn-danger">Know more!</a>
    </div>
</div>
</div>
{% endblock sidebar %}