<!DOCTYPE html>
{% extends "cpanel/AdminHome.html" %}
{% load static %}
{% block mainblock %}
        <html lang="en">
            <head>

                <meta charset="UTF-8">
                <title>Title</title>
            </head>
 <body>
  <div class="jumbotron">
    <h3 class="display-4">Create a new User!</h3>
      <hr class="my-4">
      <form method="post">
          {% csrf_token %}
          <a href="" data-toggle="modal" data-target="#SignUp"  type="button" class="btn btn-primary btn-lg">Register Here</a>

          <h3 style="color:green"> {{info}} </h3>
          <h3 style="color:red"> {{error}} </h3>


                        <div class="modal" tabindex="-1" role="dialog" id="SignUp" aria-hidden="true">
                                  <div class="modal-dialog">
                                        <div class="modal-content">
                                              <div class="modal-header">
                                                    <h5 class="modal-title">Modal title</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                      <span aria-hidden="true">&times;</span>
                                                    </button>
                                              </div>
                                                  <div class="modal-body">

                                                    <centre>
                                                        <table border="1">
                                                            {{form}}
                                                            </table>
                                                        </centre>
                                                  </div>
                                                  <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-primary">Register</button>
                                                  </div>
                                        </div>
                                  </div>
                        </div>
      </form>
  </div>
 </body>
{% endblock mainblock %}
</html>